{% extends "base.html" %}

{% block content %}
<h1 class="text-center">Registrarse</h1>
<p>Debes crear una cuenta y/o iniciar sesión para acceder al gestor de tareas.</p>
<div class="m-5 p-5 bg-primary-subtle rounded-3">
    <form action="/registrar" method="post">
        <div class="mb-3">
            <label for="email" class="form-label">Correo electrónico</label>
            <input type="email" class="form-control" id="email" required>
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Nombre</label>
            <input type="text" maxlength="50" class="form-control" id="name" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" maxlength="20" class="form-control" id="password" required>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
    <p>Al terminar de crear la cuenta se te enviara al inicio de sesión.</p>
</div>
{% endblock %}